@import '../../colors.scss';

.container-full-width{
      width: 100%;
      box-shadow: 5px 3px 5px #e6e2e2;

}
.logo{
    font-size: 30px;

    mat-icon{
        color:$orange;
    }
    span{
        margin-left: 10px;
        color:$faded-orange;
    }
}
.btn-cart{
    border-color: $grey;
    color: $faded-orange;
    z-index: 10;
}
.btn-cart :hover{
    color: $orange;
    z-index: 10;
}
span{
    font-size: 26px;
}

