@import '../../colors.scss';

.container-full-width{
      width: 100%;
      box-shadow: 5px 3px 5px #e6e2e2;

}
.logo{
    font-size: 30px;

    mat-icon{
        color:$orange;
    }
    span{
        margin-left: 10px;
        color:$faded-orange;
    }
}
.btn-cart{
    border-color: $grey;
    color: $faded-orange;
    z-index: 10;
}
.btn-cart :hover{
    color: $orange;
    z-index: 10;
}
span{
    font-size: 26px;
}
.rounded-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
mat-card-title{
    font-size: 13px;
    color: $blue;
    span{
        font-size: 24px;
        color: $grey;
    }
}
.no-item{
    font-size: 20px;
    color: $blue;
}