@import '../../colors.scss';

.container-full-width{
      width: 100%;
      box-shadow: 5px 3px 5px #e6e2e2;

}
.search-btn{
    border-color: $orange;
    color: $orange;
    z-index: 10;
}
.search-btn:hover{
    background-color: $orange;
    color: wheat;
    z-index: 10;
}
.search-icon{
    font-size: 20px;
    color:$faded-orange;
}
.btn-cart{
    border-color: $grey;
    color: $faded-orange;
    z-index: 10;
}
.btn-cart :hover{
    border-color: $orange;
    color: $orange;
    z-index: 10;
}
mat-form-field-appearance-outline mat-form-field-infix{
    padding: 0 !important;
    width: 20% !important;

}