<div class="container-full-width ">
    <mat-toolbar class="d-flex justify-content-between">
        <div class="logo ">
            <mat-icon>restaurant_menu</mat-icon>
            <span>Taste-Box</span>
        </div>

        <div>
            <button mat-icon-button class="btn btn-cart" mat-raised-button [matMenuTriggerFor]="menu">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <div *ngIf="list.length>0">
                    <div mat-menu-item *ngFor="let item of list; let i=index">
                        <mat-card-header>
                            <div mat-card-avatar> <img [src]="item.image" class="rounded-img">
                            </div>
                            <mat-card-title> <span>#{{i+1}}</span> {{item.name}}</mat-card-title>
                        </mat-card-header>
                    </div>

                </div>
                <div *ngIf="list.length === 0">

                    <span mat-menu-item class="no-item">No item added to card</span>
                </div>
            </mat-menu>
        </div>


    </mat-toolbar>
</div>